
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<div class="container">
    <table class="table">
        <thead></thead>
        <tbody>
        <tr>
            <td>Title</td>
            <td><input id="title" class="form-control" /></td>
        </tr>
        <tr>
        </tr>
        </tbody>
    </table>
</div>

